.mce-body { font-size:0.9em;}
.first-letter::first-letter { 
    font-size: 4.8em; 
    float: left; 
    line-height: 0.9em;
    margin-right:10px;
    font-family:Georgia;
    color:#903;
    margin-bottom: -5px;
}