.uk-navbar.main-navbar { background:transparent; border-style:solid; border-color: #ddd; border-width:0px 0px 1px 0px;}
.uk-navbar-center { max-width: 90% }

.shopping-cart-icon { font-size:2.2em}
#modal-cart .quantity { width:4em}
#shopping-cart-detailed > tfoot > th {border-top:1px solid #aaa}

table tfoot th { font-weight:bold; font-style:normal;font-size:1.2em;}
.cart-sum { font-style: normal; font-weight:bold; font-size:1.7em;}

input[type=search] { background-color:#f5f5f5;min-width:10em;}

.uk-thumbnail-caption{ height:3em; overflow:hidden;}

.products-list-title { height:3.2em;overflow:hidden }
.products-list-panel { border:1px solid #ddd;padding:5px; }
.products-list-price { font-size:1.7em}

.product-view-price { font-size:2.5em; }

.select2-container--default .select2-selection--single {
    border-radius:0;
    border-color:#ddd;
    height:30px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow { top:3px}

.cart-footer, .cart-sum-row > th,.cart-sum-row > td { border-top:1px solid #ddd }
.cart-header { border-bottom:1px solid #ddd}
